---
import '../pagination/pagination.css';
---
<div class="move">
    <p id="marcator">01</p>
    <div class="pagination">
      <span class="pag" id="span_one"></span>
      <span class="pag" id="span_two"></span>
      <span class="pag" id="span_three"></span>
      <span class="pag" id="span_four"></span>
    </div>
  </div>