---
import '../three-section/three-section.css';
---

<div class="snap-section" id="section-three">
    <div class="cont_second_gen">
      <div class="about-gen">
        <div class="info-about">
          <h2>Sobre mí</h2>
          <p>Soy un desarrollador de software que reside actualmente en Barcelona.<br>
            Estoy en busqueda activa de nuevas oportunidades.<br>
            Me considero una persona creativa y comprometida con lo que hago.<br> Intento dar lo mejor de mí en todos
            los aspectos de mi vida.</p>
          <span style="width: 80%;border:.5px #fff solid;margin: 0px 10px 10px 0px;"></span>
          <div class="skills">
            <button>Javascript</button>
            <button>Html</button>
            <button>Css</button>
            <button>React</button>
            <button>Astro</button>
            <button>Python</button>
            <button>Selenium</button>
            <button>Php</button>
            <button>Cms</button>
            <button>Strapi</button>
            <button>Wordpress</button>
            <button>Seo</button>
            <button>Ecommerce</button>
            <button>UI/UX</button>
            <button>Figma</button>
            <button>Research</button>
            <button>Proactivity</button>
            <button>Creativity</button>
          </div>
        </div>
        <div class="img-about">
          <div class="left">
            <img class="img-1" src="/img/user-profile.png" alt="">
            <img class="img-2" src="/img/user-profile.png" alt="">
          </div>
          <div class="right">
            <img class="img-3" src="/img/roller.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>