---
import '../first-section/first-section.css';
---

<div class="snap-section" id="section-one">
    <div class="first-gen">
        <div class="img-sec-one">
            <img src="/img/logo-rvst.svg" alt="rvst-studio" />
        </div>
        <!--<a class="arrow" href="#section-two"
            ><img src="/img/arrow-bottom.svg" /></a
        >-->
    </div>
    <p class="description">
        AARÓN FF SOFTWARE<br />
        DEVELOPER “PORTFOLIO”<br />
        IN BARCELONA c.2023<br />
    </p>
</div>
