#section-two {
  display: flex;
  margin-left: 0em !important;
  margin-right: 0em !important;
  align-items: center;
  overflow-x: hidden;
}

:root {
  --scrollcolor: #fff;
  --scrollbackground: #5b37eb11;
  z-index: 2;
}

.slider {
  width: 100%;
  overflow-x: hidden;
  /*max-width: 2000px;*/
  margin: 0 auto;
  padding-left: 20px;
}

.slider::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}

.slider__content {
  width: 100%;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  padding-right: 20px;
  display: flex;
  gap: 2.5rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}

.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}

.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
  cursor: pointer;
}

.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  width: 100%;
  height: 72vh;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
  cursor: pointer;
  position: relative;
  z-index: -1;
}

@media (min-width: 460px) {
  .slider__item {
    aspect-ratio: 2/3;
    min-width: calc((100% / 2) - 2rem);
  }
}

@media (min-width: 940px) {
  .slider__item {
    /*min-width: calc((100% / 3) - 4rem);*/
    min-width: 1000px;
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__info {
  position: relative;
  padding: 4rem 2rem 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
}

.slider__info h2 {
  color: #fff;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 0;
}

.slider__nav {
  margin: 1rem 0 4rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}

@media (min-width: 460px) {
  .slider__nav {
    justify-content: flex-end;
  }
}

.slider__nav__button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 2rem;
  background: #fff;
  color: #203239;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease-out;
  opacity: 0.25;
}

.slider__nav__button--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.shadow-in {
  /*box-shadow: inset 8px 0 20px 0 #000000;*/
  z-index: 10;
}


.popup {
  width: 500px;
  height: 350px;
  background: rgba(68, 67, 67, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  position: absolute;
  top: calc(15%);
  left: calc(25%);
  z-index: 10;
  padding: 20px;
  gap: 10px;
  display: none;
}

.active-popup {
  display: block;
  animation: scale-up-center 0.3s;
}

@keyframes scale-up-center {
  0% {
    transform: scale(.5)
  }

  100% {
    transform: scale(1)
  }
}


.popup p {
  text-align: center;
  font-size: 13px;
  text-shadow: none;
}

.popup strong {
  text-shadow: none;
}