header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  z-index: 100;
  background: linear-gradient(0deg, #ffffff00, #121212);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}



#languaje {
  font-size: 14px;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  list-style: none;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 100;
}

.btn-nav {
  letter-spacing: 3px;
  border: thin #ffffff9a solid !important;
  font-size: 12px !important;
}