---
import "../header/header.css";
---

<header>
    <div class="logo"></div>
    <nav>
        <ul>
            <!--<li id="languaje"><a href="">EN</a></li>-->
            <li><a href="#section-two">PROYECTOS</a></li>
            <li><a href="#section-three">SOBRE MI</a></li>
            <li>
                <a href="#section-four"
                    ><button type="button" class="btn btn-nav">Contacto</button>
                </a>
            </li>
        </ul>
    </nav>
</header>
