---
interface Props {
	title?: string;
	description?: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="icon" href="/img/favicon.svg" />
		<link rel="stylesheet" href="/css/style.css" />
		<link
			href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&f[]=rx-100@400&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<slot />

		<script src="./js/script.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js"
		></script>
	</body>
</html>

<style is:global>
	* {
		color: #fff !important;
		font-family: "Satoshi", sans-serif !important;
		font-family: "RX100", sans-serif;
		/*overflow-x: hidden;*/
		overflow-y: hidden;
		text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
		text-decoration: none !important;
	}
</style>
